extends layout

block content
  h1 Active Backends in Merlin
  div
    span= JSON.stringify(backends)
  div
    table
      tr
        th Key
        th IP
        th Port
        th State
      each backend, index in backends
        tr
          td= index
          td= backend.ip
          td= backend.port
          case backend.state
            when "ok"
              td.alert.alert-success= backend.state
            when "degraded"
              td.alert.alert-error= backend.state
            default
              td.alert.alert-info= backend.state
  script.
    $(document).ready(function(){
      var interval = 1000;
      console.log("Setting reload interval every " + interval + "ms");
      setInterval(function(){
        console.log("reloading...");
        location.reload();
      },interval);
    });
